<section class="background-radial-gradient overflow-hidden" id="#login">

    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <form action="/home/cadastro" method="GET">
                    <button type="submit" style="background-color: #29539b;
                    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);"
                        class="btn btn-primary btn-block mb-2">
                        inserir
                    </button>

                    <button type="submit" style="background-color: #29539b;
                    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);"
                        class="btn btn-primary btn-block mb-2">
                        recomeçar
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>